div#header
	div.logo wooishui
	div.navbar
		div.navbar-inner
			div.left
				a#cancelBtn.headerBtn.txt(onclick="sgd.changeSection('home')") Cancel
				a#backBtn.headerBtn.txt(onclick="sgd.changeSection('home')") Back
				a#addBtn.icon-plus.headerBtn.active(onclick="sgd.changeSection('form')")
			div.center
			div.right
				a.headerBtn.menu-link.icon-share-square(href="javascript:void(0)")
