//- Base template
//- All other templates should extend from this

doctype html
html(lang='en')
    head
        include ../components/meta.jade
    body
        div#layout.views
            div.view.view-main

                block content

        include ../components/panel.jade

        include ../components/tmpl.jade

        script.
            window.sgd = (window.sgd) ? window.sgd : {};
            window.sgd.fbAppID = '1386483598265163';
            window.sgd.apiPrefix = 'http://localhost:3000';
        script(src='cordova.js')
        script(src='plugins/com.phonegap.plugins.facebookconnect/facebookConnectPlugin.js')
        script(src='plugins/org.apache.cordova.console/www/console-via-logger.js')
        // build:js(client) scripts/global.js
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/underscore/underscore-min.js')
        script(src='bower_components/backbone/backbone.js')
        script(src='bower_components/momentjs/min/moment.min.js')
        script(src='bower_components/framework7/dist/js/framework7.min.js')
        script(src='bower_components/requirejs/require.js')
        script(src='scripts/class/CreditDetailView.js')
        script(src='scripts/class/CreditView.js')
        script(src='scripts/class/DebtsCredits.js')
        script(src='scripts/class/FacebookHelper.js')
        script(src='scripts/class/PopupFriendList.js')
        script(src='scripts/class/RejectedView.js')
        script(src='scripts/pages/PageBase.js')
        script(src='scripts/pages/PageLogin.js')
        script(src='scripts/pages/PageHome.js')
        script(src='scripts/pages/PageDetail.js')
        script(src='scripts/pages/PageForm.js')
        script(src='scripts/pages/PageFormSecond.js')
        script(src='scripts/main.js')
        // endbuild
        

