//- Base template
//- All other templates should extend from this

doctype html
html(lang='en')
    head
        include ../components/meta.jade
    body
        div#layout.views
            div.view.view-main
                include ../components/header.jade

                block introw

                block content

        block panel

        script.
            window.sgd = (window.sgd) ? window.sgd : {};
            window.sgd.rootURL = 'http://www.wooishui.com';
            window.sgd.fbAppID = '1386483598265163';
            window.sgd.apiPrefix = 'http://192.168.8.5:5000';
        script(src='cordova.js')
        script(src='plugins/com.phonegap.plugins.facebookconnect/facebookConnectPlugin.js')
        script(src='plugins/org.apache.cordova.console/www/console-via-logger.js')
        // build:js(client) scripts/global.js
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/underscore/underscore-min.js')
        script(src='bower_components/backbone/backbone.js')
        script(src='bower_components/momentjs/min/moment.min.js')
        script(src='bower_components/framework7/dist/js/framework7.min.js')
        // endbuild
        
        script(data-main='scripts/main', src='bower_components/requirejs/require.js')

