//- Base template
//- All other templates should extend from this

//- [injector:jade]
//- [endinjector]

doctype html
html(lang='en')
    head
        include ../components/meta
    body.unauthorized.gradient-pattern
        
        #main
            block intro

            block content

            #footer
                p Powered by <a href="http://www.sekgamdong.com" target="_blank">SEKGAMDONG CO.</a>

        script(src='cordova.js')
        script(src='plugins/com.phonegap.plugins.facebookconnect/facebookConnectPlugin.js')
        script(src='plugins/org.apache.cordova.console/www/console-via-logger.js')
        // build:js(client) scripts/global.js
        script(src='bower_components/jquery/dist/jquery.js')
        // endbuild

        script(data-main='scripts/beforeLogin', src='bower_components/requirejs/require.js')