//- Homepage Markup
extend ./layouts/unauthorized

block content

	div(style="position:absolute;height:90px;width:100%;top:50%;margin-top:-90px;color:#FFF;font-family:'Lobster',cursive;font-size:72px;text-align:center;")
		| wooishui
	
	div.facebookLogin