// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$side-bar-width: 200px;
$footer-height: 60px;
$main-theme-color: #78FF8D;
$deep-theme-color: #00DE22;
$grey-theme-color: #BBBBBB;
