// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$side-bar-width: 200px;
$footer-height: 60px;
$main-theme-color: #78FF8D;
$deep-theme-color: #00DE22;
$grey-theme-color: #BBBBBB;


@font-face {
    font-family: 'Lobster';
    src: url('fonts/lobster/lobster_1.3-webfont.eot');
    src: url('fonts/lobster/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster/lobster_1.3-webfont.woff2') format('woff2'),
         url('fonts/lobster/lobster_1.3-webfont.woff') format('woff'),
         url('fonts/lobster/lobster_1.3-webfont.ttf') format('truetype'),
         url('fonts/lobster/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "wooishui";
	src:url("fonts/wooishui/fonts/wooishui.eot");
	src:url("fonts/wooishui/fonts/wooishui.eot?#iefix") format("embedded-opentype"),
    url("fonts/wooishui/fonts/wooishui.woff") format("woff"),
    url("fonts/wooishui/fonts/wooishui.ttf") format("truetype"),
    url("fonts/wooishui/fonts/wooishui.svg#wooishui") format("svg");
	font-weight: normal;
	font-style: normal;
}



@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand/quicksand_bold-webfont.eot');
    src: url('fonts/quicksand/quicksand_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/quicksand_bold-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand_bold-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand_bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand_bold-webfont.svg#quicksandbold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand/quicksand_book-webfont.eot');
    src: url('fonts/quicksand/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/quicksand_book-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand_book-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand_book-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Quicksand';
    src: url('fonts/quicksand/quicksand_light-webfont.eot');
    src: url('fonts/quicksand/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand/quicksand_light-webfont.woff2') format('woff2'),
         url('fonts/quicksand/quicksand_light-webfont.woff') format('woff'),
         url('fonts/quicksand/quicksand_light-webfont.ttf') format('truetype'),
         url('fonts/quicksand/quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight:thin;
    font-style: normal;
}