html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  position: relative;
  -webkit-text-size-adjust: 100%; }
  body.unauthorized #footer {
    color: #FFF;
    text-align: center; }
    body.unauthorized #footer p {
      border: none; }
    body.unauthorized #footer a {
      color: #FFF;
      border: none; }

a {
  text-decoration: none;
  color: green;
  border-bottom: 1px dashed green; }
  a.headerBtn {
    border: none; }

.container {
  margin: 0 auto;
  padding: 0 2em; }

#layout {
  min-height: 100%; }

#header {
  position: relative; }
  #header .navbar {
    background-color: #78FF8D; }
  #header .left, #header .center, #header .right {
    height: 100%; }
  #header .logo {
    position: absolute;
    top: 0;
    height: 100%;
    width: 98px;
    left: 50%;
    margin-left: -49px;
    z-index: 1000;
    font-size: 28px;
    font-family: 'Lobster', cursive;
    color: #FFF; }
  #header .center {
    font-size: 28px; }

#menu {
  background-color: #FFF;
  border-right: 1px solid #BBB; }

#footer {
  color: #ccc;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0; }
  #footer p {
    padding: 20px 0 0 0;
    margin: 0 20px;
    border-top: 1px solid #ccc; }

.debtType .left {
  text-align: right; }
  .debtType .left img {
    height: 50px; }
.debtType .middle {
  text-align: center;
  font-size: 2em;
  line-height: 2em; }
  .debtType .middle .icon-caret-right {
    color: #216C2A;
    opacity: 1; }
  .debtType .middle .icon-caret-left {
    color: #BBBBBB;
    opacity: 0.8; }
  .debtType .middle .icon-banknote {
    color: #216C2A; }
  .debtType .middle.creatorDebt .icon-caret-right {
    color: #BBBBBB;
    opacity: 0.8; }
  .debtType .middle.creatorDebt .icon-caret-left {
    color: #216C2A;
    opacity: 1; }
.debtType .right {
  display: table;
  height: 50px; }
  .debtType .right span {
    display: table-cell;
    vertical-align: middle;
    text-align: left; }

.facebookLogin {
  background-image: url(../img/facebook-login.png);
  width: 202px;
  height: 45px;
  position: absolute;
  top: 50%;
  margin-top: 22px;
  left: 50%;
  margin-left: -101px; }

.gradient-pattern {
  box-sizing: content-box;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: white;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: linear-gradient(45deg, rgba(0, 222, 34, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 222, 34, 0.2) 50%, rgba(0, 222, 34, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #78ff8d;
  background-position: auto auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 50px 50px; }

#header.cancel #cancelBtn {
  display: block; }
#header.cancel #backBtn, #header.cancel #addBtn {
  display: none; }
#header.back #backBtn {
  display: block; }
#header.back #cancelBtn, #header.back #addBtn {
  display: none; }
#header #cancelBtn {
  display: none; }
#header #backBtn {
  display: none; }
#header .headerBtn {
  font-size: 24px;
  height: 100%;
  line-height: 50px;
  z-index: 10;
  border: none;
  text-align: center;
  color: #FFF;
  margin: 0;
  display: block; }
  #header .headerBtn.txt {
    font-size: 18px; }
  #header .headerBtn.black {
    color: #000; }

#formSecond .buttons-row .button {
  border-radius: 0;
  background: #BBB;
  border: 1px solid #BBB;
  text-decoration: line-through; }
  #formSecond .buttons-row .button.active {
    background: #FFF;
    color: #000;
    text-decoration: none; }

#menu ol, #menu ul {
  list-style: none;
  padding: 0; }
  #menu ol li, #menu ul li {
    border-bottom: 1px solid #BBB;
    padding: 10px 20px; }
#menu a {
  border: none; }
#menu .userDetail {
  margin-bottom: 15px; }
  #menu .userDetail .img {
    width: 50px;
    height: 50px; }
  #menu .userDetail .name {
    vertical-align: middle; }

p.or {
  text-align: center; }

#friendList #regFriend {
  display: none; }
#friendList #nonRegFriend {
  display: none; }

.friendListSearch {
  background-color: #fff;
  border: 1px solid #BBB;
  border-radius: 10px;
  width: 100%;
  height: 35px;
  text-indent: 7px;
  padding-left: 0;
  padding-right: 0; }

.list-block .item-after.color-red {
  color: #ff3b30; }
.list-block .item-after.color-green {
  color: #4cd964; }

.item-media {
  width: 50px;
  height: 50px; }

#dataList .item-content .item-label {
  position: relative; }
  #dataList .item-content .item-label:before {
    content: "x";
    font-family: wooishui;
    position: absolute;
    left: -25px;
    color: orange;
    opacity: 0; }
#dataList .item-content.rejected .item-label:before {
  opacity: 1; }

#dataListDetailWrap, #rejectListDetailWrap {
  display: none; }

#dataListError, #dataListDetailError {
  text-align: center;
  display: none; }
  #dataListError .icon-page-search, #dataListDetailError .icon-page-search {
    font-size: 3em; }
  #dataListError .txt, #dataListDetailError .txt {
    font-size: 1.5em;
    margin-top: 30px; }

#dataListDetail .swipeout .item-title-row, #rejectListDetail .swipeout .item-title-row {
  background: none;
  padding-right: 15px; }
  #dataListDetail .swipeout .item-title-row:after, #rejectListDetail .swipeout .item-title-row:after {
    content: "a";
    font-family: wooishui;
    position: absolute;
    right: 10px;
    color: #000;
    top: 10px; }

#connectUser {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10; }
  #connectUser:before {
    content: "b";
    font-family: wooishui;
    position: relative;
    top: 4px;
    font-size: 1.6em;
    right: 5px; }
/*# sourceMappingURL=main.css.map */